.product-detail-container {
    width: 100vh;
}
.product-detail {
    width: 100%;
}
.product-detail-img {
    width: 100%;
}
.img-banner {
    width: 100%;
}
.product-detail-content {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin-top: -5%;
    background-size: 105%;
    background-repeat: no-repeat;
    /* background-position: 10% 300%; */
    background-attachment: fixed;
}

.pd-content {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    background-size: 105%;
    background-repeat: no-repeat;
    /* background-position: 10% 300%; */
    background-attachment: fixed;
    padding-top: 10%;
    margin-bottom: 15%;
}
.pdOne {
    margin-top: 5%;
    background-size: 60%;
    background-repeat: no-repeat;
    /* background-position: 50% 20%; */
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 300px;
    gap : 25%;
    flex-wrap: wrap;

}
.pdOne p {
    font-size: 1.8em;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: black;
    margin: 0;

}
.pdOne img {
    height: 250px;
    margin-bottom: 5%;
}
.pdTwo p {
    font-size: 1em;
    color: rgb(255, 255, 255);
    font-weight: bold;
    width: 72%;


}
.pdTwo {
    width: 500px;
    padding-top: 5%;
    padding-bottom: 5%;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.ing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 250px;
}
.btn-burger {
    padding-top: 25%;
    width: 100%;
    gap: 5%;
    flex-direction: column;
    background-size: 190%;
    height: fit-content;

}
.both {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 400px;
}

.part2 {
    width: 70%;
    height: 200px;
    margin-top: 15%;
    background-size: 105%;
    background-repeat: no-repeat;
    /* background-position: 10% 300%; */
    background-attachment: fixed;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.part2 p {
    color: black;
}
.both {
    width: 100%;
    display: flex;
    margin-bottom: 5%;
}

