.basket {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 40px;
    background-color: none;

}


.modal-container h2 {
  color: #000;
}

.parent-container {
  width: 100%;
  display: flex;
}