.burgers {
    width: 100%;
    height: fit-content;
}
.burgers-content {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}
.burgers-content div {
    margin-bottom: 5%;
}
.burgers-contenu {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0%;
    background-attachment: fixed;
    padding: 20px;
    border-radius: 15px;
    width: 250px;

}
#img-burgers {
    width: 200px;
}

.burgers-contenu p {
    font-weight: 700;
    color: black;
    margin-top: -2%;
    margin-bottom: 7%;
}
.burgers-contenu button {
    margin-bottom: 5%;
}
.burger-all {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0%;
    background-attachment: fixed;
    padding: 20px;
    padding-left: 0;
    padding-bottom: 20px;
}
.burger-all img {
    width: 400px;
    padding-top: 50px;
}
.burger-all h2 {
    color: black;
}