.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 800px; */
    margin: 0 auto;
    /* overflow: hidden;  */
    margin-top: -1.2%;
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden; 
    margin-bottom: 5%;
    margin-top: 1.1%;
}



.prev,
.next {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
    padding: 20px;
    margin: 20px;
    cursor: pointer;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%; 
}

.slide {
    width: 100%;
    text-align: center;
    /* height: 475px; */
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%; 
    box-sizing: border-box; 
}

.slide-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slide-content h3 {
    font-size: 1em;
    width: 70%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.carousel-item {
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-top: 5%; */
}
.carousel-item img {
    padding: 0%;
    /* padding-left: 15%; */
    width: 400px;
    /* padding-top: 4%; */
    
}
.carousel-item h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2em;
}
.carousel-item p {
    margin: 0;
    color: black;
    font-weight: 700;
}
#carousel-dessert-p {
    color: white;
}
.bg-products {
    width: 100%;
}


@media only screen and (min-width: 1440px) {
    .carousel-item {
        /* height: 1050px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 425px) {
    .carousel-item {
      height: 600px; 
      background-size: cover; 
      background-position: bottom center; 
    }
    .carousel-item img {
        width: 200px;
        /* padding-top: 10%; */
      }
  }
  